environs==9.5.0
et-xmlfile==1.1.0
ldap3==2.9.1
marshmallow==3.19.0
Nuitka
numpy==1.24.3
openpyxl==3.1.2
ordered-set==4.1.0
packaging==23.1
pandas==2.0.2
ping3==4.0.4
pyasn1==0.5.0
PyQt6==6.5.1
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
six==1.16.0
tzdata==2023.3
zstandard==0.21.0
